html
  font-family: 'Lusitana', serif
  -webkit-font-smoothing: antialiased

body
  background: white
  color: $color_text
  line-height: 1.65em

  &.content-sidebar .content
    max-width: 720px

a
  color: $color_link

p
  font-size: 17pt
  line-height: 1.6em

section.article-content
  ul
    list-style: none
    margin-left: 0
    padding-left: 0

    li
      padding-left: 1.2em
      text-indent: -1em

      &:before
        content: "·"
        padding-right: 10px

  li
    font-size: 17pt
    padding-bottom: 15px


aside h2
  font-size: 13pt

.header
  background: white
  margin-bottom: 0

  p.toggle-container
    float: right

.inner-wrap
  background: white
  max-width: none
  padding: 0 20px

.page-title,
.post-title
  font-size: 24px
  font-weight: 700
  letter-spacing: 0
  a
    color: $color_text

.site-title,
.site-description
  color: $color_text

.site-title
  font-size: 24px
  font-weight: 400
  padding: 20px 0 10px
  letter-spacing: 0

.site-description
  font-size: 9.5pt
  letter-spacing: 2px
  opacity: 1

.site-intro .avatar
  border-radius: 6px
  box-shadow: none
  width: 60px
  &:hover
    transform: none

.widget_recent_entries,
.widget_archive,
.widget_categories
  li:before
    content: ''
    width: 0

.post-meta,
.post-date
  font-size: 1em

.post-meta li.categories,
.post-meta li.author,
.post-date
  &:before
    content: ''
    width: 0

.post-date
  display: inline-block
  padding-bottom: 30px
  a
    color: $color_text

.post-meta li
  border-right: none
  &.comment,
  &.author
    display: none

.widget
  ul,
  ol
    li
      font-size: 12pt
      padding-bottom: 10px
      white-space: nowrap
      overflow: hidden
      padding-left: 0
      text-overflow: ellipsis
      width: 100%

.navigation-post
  .nav-previous,
  .nav-next
    max-width: 45%

    a
      font-weight: 300
      line-height: 1.5em
      padding: 0

      &:hover
        background: transparent
        box-shadow: none
        text-decoration: underline

  .nav-previous a:before
    content: "«"
    font-family: "Lusitana"
    width: .5em
    position: relative
    top: -1px

  .nav-next a:after
    content: "»"
    font-family: "Lusitana"
    width: .5em
    position: relative
    top: -1px

input[type="submit"],
input[type="button"],
.navigation-post a,
.navigation-paging a
  background: transparent
  color: $color_link

.button
  background: white
  color: $color_text
