@media only screen and (min-width: 769px)
  .header
    background: white
    margin-left: 0
    margin-right: 0
    padding: 40px 0 80px

    a.site-intro
      img
        width: 50px
        margin: 0

      h1,
      h2
        text-align: left

      h1
        padding-top: 15px


  .inner-wrap
    background: white
    max-width: none
    padding: 0

  .main-nav
    border-bottom: none

  .sidebar
    max-width: 260px

    .widget
      opacity: 1
